body {
  font-family: Arial, sans-serif;
  background-color: #f9fafa;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  max-width: 1280px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  text-align: center;
  background-color: #acd5de;
}
.logo {
  width: 120px;
  height: auto;
}
.registerButton {
  background-color: #ca5454;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  height: 50px;
}
.heroSection {
  display: flex;
  align-items: center;
  height: 350px;
  width: 100%;
  background-color: #acd5de;

}
.heroContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.heroTitle {
  display: flex;
  font-size: 48px;
  font-weight: bold;
  color: #292d54;
  text-align: center;
  font-weight: bold;
  padding-left: 10px;
}
.heroImage {
  width: 700px;
  height: auto;
  padding-top: 160px;
}