.container {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  font-family: "Comic Sans MS", sans-serif;
}
.message {
  margin-bottom: 15px;
  font-size: 16px;
  color: #292d54;
  display: flex;
  justify-content: center;
  text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.field {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.field label {
    margin-bottom: 1px;
    color: #292d54;
}
.input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #292d54;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 10px;
}
.input:focus {
    outline: none;
    border-bottom: 2px solid #292d54;
}
.error {
    color: #ca5454;
    font-size: 12px;
    margin-top: 5px;
}
.button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    font-family: "Comic Sans MS", sans-serif;
    background-color: #ca5454;
    color: white;
    padding: 10px;
    border: 2px solid #ca5454;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.button:hover {
    border: 2px groove #292d54;
}